.card-info {
  height: 124px;
  width: 258px;
  border-radius: 5px;
  background-color: #FBFBFB;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
}

.count {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #282D30;
  margin: 0;
}

.type {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color:#74798C;
  margin: 0;
}