.dashboard {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 30px;
}

.title {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.message {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.dashboard-header {
  height: 20%;
  /* background-color: aqua; */
}

.dashboard-content {
  flex: 1 ;
  display: flex;
  gap: 31px;
  box-sizing: content-box;
}

.section-chart {
  position: relative;
  flex: 1;

}

.section-card {
  width: 258px;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  gap: 10px;
  box-sizing: border-box;
}

.name {
  color: #FF0000;
}