.barchart {
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  width: 100%;
  height: 50%;
}

.barchart-title {
  position: absolute;
  height: 24px;
  left: 32px;
  top: 17px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;

}

.recharts-legend-wrapper{
  padding-bottom: 20px;
}
